<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="tradingSoftware.Properties.Settings.TradeConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\janice\6th Sem Data\Repository\tradingSoftware\tradingSoftware\Database\Trade.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="tradingSoftware.Properties.Settings.EarlierConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database\Trade.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="tradingSoftware.Properties.Settings.VJConStr" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Study\6 Sem\tradingSoftware\tradingSoftware\tradingSoftware\Database\Trade.mdf;Integrated Security=True;User Instance=True" />
    </connectionStrings>
</configuration>