<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="tradingSoftware.Properties.Settings.TradeConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TRADE.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="tradingSoftware.Properties.Settings.EarlierConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database\Trade.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="tradingSoftware.Properties.Settings.VJConStr" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Shailesh Kalsariya\Dropbox\VI Sem Project- Trading Software\Database\Trade.mdf;Integrated Security=True;User Instance=True" />
        <add name="tradingSoftware.Properties.Settings.ShaConStr" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Shailesh Kalsariya\Dropbox\VI Sem Project- Trading Software\Database\Trade.mdf;Integrated Security=True;User Instance=True" />
    </connectionStrings>
</configuration>